
header {
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 100px;
    margin: 0 auto;
    background-color: #333;
    
}
h1 {
    color: blueviolet;
    background-color: antiquewhite;
}
nav {
    position: relative;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}